@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mint: #00F5C4;
  --dark: #061213;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #061213;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
}
